.inputWrapper {
    padding: 16px 0 12px;
}

.scroll {
    /* scrollbar-width: none; */
    box-sizing: initial;
    height: 100%;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.anotherWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}